<div
  class="text"
  style="
    --text-size: {{ block.settings.font_size | divided_by: 16 }}rem;
    --text-weight: {{ block.settings.font_weight }};
    --text-color: {{ block.settings.text_color }};
    --text-position: {{ block.settings.text_position }};
    --text-width: {{ block.settings.t_w }}%;
    --padding-y: {{ block.settings.p_y | divided_by: 16}}em;
  "
>
  {{ block.settings.text }}
</div>

{{ 'text-config.css' | asset_url | stylesheet_tag }}

<style>

</style>


<script>
  {
    {
      'main-banner.js' | asset_url;
    }
  }
  defer;
</script>

{% schema %}
{
  "name": "Text",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Text Size",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "font_weight",
      "label": "Font Weight",
      "min": 100,
      "max": 800,
      "step": 100,
      "default": 400
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "label": "Text Position",
      "type": "select",
      "id": "text_position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "label": "Text Width",
      "id": "t_w",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50,
      "unit": "%"
    },
    {
      "type": "range",
      "label": "Padding Y",
      "id": "p_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Text Block"
    }
  ]
}
{% endschema %}
