{% schema %}
{
  "name": "Header option",
  "tag": "section",
  "class": "header_option",
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Desktop logo position",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing_logo",
      "label": "Spacing Logo",
      "default": {
        "padding": "0px 0px",
        "margin": "0px"
      }
    },
    {
      "type": "range",
      "id": "height_header",
      "label": "Custom height header",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 250,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "color_header",
      "label": "Custom color header",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Header option",
      "settings": {}
    }
  ]
}
{% endschema %}

<div class="{{ section.settings.spacing_logo | class_list }} {{ section.id }}_header_option">
  {%- if request.page_type == 'index' -%}
    <h1 class="header__heading">
  {%- endif -%}

  <a href="{{ routes.root_url }}" class="header__heading-link">
    {%- if settings.logo != blank -%}
      <div class="header__heading-logo-wrapper">
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
        {{
          settings.logo
          | image_url: width: 600
          | image_tag:
            class: 'header__heading-logo motion-reduce',
            widths: widths,
            height: logo_height,
            width: settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
        }}
      </div>
    {%- else -%}
      <span class="h2">{{ shop.name }}</span>
    {%- endif -%}
  </a>

  {%- if request.page_type == 'index' -%}
    </h1>
  {%- endif -%}
</div>

<style>
  .{{ section.id }}_header_option {
      display: inline-flex;
      height: {{ section.settings.height_header | plus: 0 | divided_by: 16 }}em;
      background-color: {{section.settings.color_header}};
    }
    .header__heading {
      margin: 0;
      line-height: 0;
      display: flex;
      align-items: center;
    }
</style>
