<link rel="stylesheet" href="{{ 'flickity.min.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'ctf-slide.css' | asset_url }}">

{% schema %}
{
  "name": "Slide",
  "tag": "section",
  "class": "ctf-slide-section-container",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.slide.settings.header"
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "default": true,
      "label": "t:sections.slide.settings.show_dots"
    },
    {
      "type": "checkbox",
      "id": "show_button_navigator",
      "default": true,
      "label": "t:sections.slide.settings.show_button_navigator"
    },
    {
      "type": "text",
      "id": "auto_play",
      "label": "t:sections.slide.settings.auto_play.label",
      "default": "0",
      "info": "t:sections.slide.settings.auto_play.info"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "number",
      "id": "size",
      "label": "t:sections.slide.settings.image_size",
      "default": 1920
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "number",
      "id": "ctf_height_mobile",
      "label": "Height of the image mobile",
      "default": 800
    },
    {
      "type": "header",
      "content": "2. Spacing setting"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "text",
      "id": "ctf_margin_desktop",
      "label": "Margin",
      "default": "0px, 0px, 0px, 0px",
      "info": "top, right, bottom, left"
    },
    {
      "type": "text",
      "id": "ctf_padding_desktop",
      "label": "padding",
      "default": "0px, 0px, 0px, 0px",
      "info": "top, right, bottom, left"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "text",
      "id": "ctf_margin_mobile",
      "label": "Margin",
      "default": "0px, 0px, 0px, 0px",
      "info": "top, right, bottom, left"
    },
    {
      "type": "text",
      "id": "ctf_padding_mobile",
      "label": "Padding",
      "default": "0px, 0px, 0px, 0px",
      "info": "top, right, bottom, left"
    }
  ],
  "blocks": [{ "type": "ctf_image" }],
  "presets": [
    {
      "name": "Slide",
      "blocks": [
        {
          "type": "ctf_image"
        },
        {
          "type": "ctf_image"
        },
        {
          "type": "ctf_image"
        }
      ]
    }
  ]
}
{% endschema %}

{%- liquid
  if section.settings.show_dots == true
    assign show_dots = 1
  else
    assign show_dots = 0
  endif

  if section.settings.show_button_navigator == true
    assign show_button_navigator = 1
  else
    assign show_button_navigator = 0
  endif
-%}

<style>
  .ctf-slide-section {

    --ctf-height-carousel: {{ section.settings.size }}px;
    --ctf-margin-carousel: {{ section.settings.ctf_margin_desktop | uniq | join: ', ' | remove: ',' }};
    --ctf-padding-carousel: {{ section.settings.ctf_padding_desktop | uniq | join: ', ' | remove: ',' }};
    --ctf-show-dot: {{  show_dots }};
    --ctf-show-button-navigator: {{ show_button_navigator }};
    --ctf-mobile-height: {{section.settings.ctf_height_mobile}}px;
    --ctf-margin-carousel-mobile:  {{ section.settings.ctf_margin_mobile | uniq | join: ', ' | remove: ',' }};
    --ctf-padding-carousel-mobile: {{ section.settings.ctf_padding_mobile | uniq | join: ', ' | remove: ',' }};
  }
</style>

<div
  class="slide-{{ section.id }} ctf-slide-section carousel position-relative"
  data-flickity='
    { "fullscreen": true ,
    "wrapAround": true,
    "contain": true,
    "autoPlay": {{ section.settings.auto_play }},
    "resize": true,
    "cellAlign": "center"}
  '
>
  {% content_for 'blocks' %}
</div>
