<link href="{{ 'flickity.min.css' | asset_url }}" rel="stylesheet">

{% schema %}
{
  "name": "Slide",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.slide.settings.header"
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "default": true,
      "label": "t:sections.slide.settings.show_dots"
    },
    {
      "type": "checkbox",
      "id": "show_button_navigator",
      "default": true,
      "label": "t:sections.slide.settings.show_button_navigator"
    },
    {
      "type": "text",
      "id": "auto_play",
      "label": "t:sections.slide.settings.auto_play.label",
      "default": "0",
      "info": "t:sections.slide.settings.auto_play.info"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "number",
      "id": "size",
      "label": "t:sections.slide.settings.image_size",
      "default": 1920
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "number",
      "id": "m_height",
      "label": "Height of the image mobile",
      "default": 800
    },
    {
      "type": "header",
      "content": "2. Spacing setting"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "text",
      "id": "d_margin",
      "label": "Margin",
      "default": "0px, 0px, 0px, 0px",
      "info": "top, right, bottom, left"
    },
    {
      "type": "text",
      "id": "d_padding",
      "label": "padding",
      "default": "0px, 0px, 0px, 0px",
      "info": "top, right, bottom, left"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "text",
      "id": "m_margin",
      "label": "Margin",
      "default": "0px, 0px, 0px, 0px",
      "info": "top, right, bottom, left"
    },
    {
      "type": "text",
      "id": "m_padding",
      "label": "Padding",
      "default": "0px, 0px, 0px, 0px",
      "info": "top, right, bottom, left"
    }
  ],
  "blocks": [{ "type": "ctf_image_block" }],
  "presets": [
    {
      "name": "Slide",
      "blocks": [
        {
          "type": "ctf_image_block"
        },
        {
          "type": "ctf_image_block"
        },
        {
          "type": "ctf_image_block"
        }
      ],
      "settings": {}
    }
  ]
}
{% endschema %}

<div
  class="slide-{{ section.id }} carousel position-relative"
  data-flickity='
    { "fullscreen": true ,
    "wrapAround": true,
    "contain": true,
    "autoPlay": {{ section.settings.auto_play }},
    "resize": true,
    "cellAlign": "center"}
  '
>
  {% content_for 'blocks' %}
</div>

<style>
  .carousel {
    width: 100%;
    margin: 0 auto;

  }
  .ctf-carousel-cell {
    width: 100%;
    position: relative;
    height: {{section.settings.size}}px;
    margin: {{ section.settings.d_margin | uniq | join: ', ' | remove: ',' }};
    padding: {{ section.settings.d_padding | uniq | join: ', ' | remove: ',' }};
  }
  .flickity-page-dots {
      {%- if section.settings.show_dots != true -%}
        opacity: 0;
        {% else %}
        opacity: 1;
      {%- endif -%}
    }
  .flickity-button {
      {%- if section.settings.show_button_navigator != true -%}
        opacity: 0;
        {% else %}
        opacity: 1;
      {%- endif -%}
    }

    @media (max-width: 767px) {
      .ctf-carousel-cell {
        width: 100%;
        height: {{section.settings.m_height}}px;
        margin: {{ section.settings.m_margin | uniq | join: ', ' | remove: ',' }};
        padding: {{ section.settings.m_padding | uniq | join: ', ' | remove: ',' }};
      }
    }
</style>
